[submodule "dist/mk"]
	path = dist/mk
	url = git@github.com:jlopez/air-mk.git
[submodule "src/ios/ane"]
	path = src/ios/ane
	url = git@github.com:jlopez/ane-ios-helper.git
[submodule "src/ios/testflight"]
	path = src/ios/testflight
	url = git@github.com:danielctull/TestFlight-SDK
